# === .NET build files ===
bin/
obj/
**/bin/
**/obj/

# === Visual Studio ===
.vs/
*.user
*.suo

# === Rider ===
.idea/

# === Logs / temp ===
*.log
*.tlog

# === User-specific ===
*.userosscache
*.sln.docstates

# === Docker volumes ===
docker-compose.override.yml
.env

# === EF Core migration folders (optional) ===
**/Migrations/

# === secrets (nếu có) ===
secrets.json
appsettings.Development.json
appsettings.Secret.json
netmusicshop-b5d9c-268b5c9d8876.json
# === OS-specific ===
.DS_Store
Thumbs.db

# === Publish output ===
publish/
